


nav{
    background-color: darkcyan;
}

ul{
    display:flex;
}

li{
    list-style-type: none;
    padding: 10px 30px;
    cursor: pointer;
}

li:hover{
    background-color: rgb(10, 99, 99);
}

.dropdown{
    position: relative;
}

.dropdown:hover .dropdown-content{
    display:block;
}


.dropdown-content{
    background-color: darkcyan;
    position: absolute;
    top: 39px;
    left: 2px;
    display: none;
}