

$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Poppins', sans-serif;

$primary: #00B074;
$secondary: #2B9BFF;
$light: #EFFDF5;
$dark: black;
$rgb-color: rgb(10, 186, 192);

$body-bg: rgb(220, 32, 173);
$body-color: #646363;
$footer-bg: rgb(40, 53, 54);