

div{
    margin: auto;
    margin-top: 200px;
    width: 20px;
    height: 20px;
    border: 3px solid gray;
    border-top: 3px solid rgb(234, 232, 232);
    border-radius: 50%;
    animation-name: ring;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ring{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}