

box-style {
    padding: 30px;
    color: $light;
    background-color: $primary-color;
    text-align: center;
    width: 380px;

    h2 {
        font-size: $header-f-size;
        padding: 30px 0 10px;
    }

    p {
        font-size: $para-size;
        padding-bottom: 15px;
    }

    button {
        @include button-style;
    }
}