<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sass/main.css">
</head>

<body>
    <div>
        <h1>SASS Partials</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero nam doloremque ipsam impedit, fugit
            repellendus commodi, vitae, accusamus labore hic reiciendis quis voluptas earum optio quas? Qui, corporis
            inventore. Asperiores adipisci voluptate modi. Ab aperiam dolorum sapiente laboriosam perferendis itaque?
            Odio libero molestiae qui minima ab earum, nostrum voluptatem ipsum.

            <button>Submit</button>
        </p>
    </div>
</body>

</html>