

@forward "base/index";
@use "util/index";



div {

    background-color: index.$body-color;
    padding: 30px;
    margin: auto;
    width: 70%;

    h1 {
        color: index.$primary;
        background-color: index.$light;
        font-family: index.$headings-font-family;
        text-align: center;
    }

    p {
        color: index.$dark;
        background-color: index.$body-bg;
        font-family: index.$font-family-base;
        text-align: justify;
        padding: 0 10px;

        button {
            @include index.button-style;
            display: block;
            margin: auto;
            margin-top: 10px;
        }
    }
}

