* {
    margin: 0;
    box-sizing: border-box;
}

div {
    background-color: aquamarine;
    text-align: center;
    padding: 20px;

    h1 {
        color: tomato;
        padding-bottom: 10px;
        font-weight: 800;
    }

    h2 {
        font-size: 22px;
        font-style: italic;
        color: purple;
    }
}