*
{
    margin: 0;
    margin: auto;
}

#all
{
    /* height: 90px; */
    width: 700px;
    border: 1px solid black;
}

/*---------------------row-1------------------------*/

div[class^=row]
{
    background-color: aqua;
    width: 700px;
    height: 90px;
}

.col1
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
}
.col2
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
}
.col3
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
}
.col4
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
}
.col5
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
}
.col6
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
}
.col7
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
}
/* .col8
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
}
.col9
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
} */

/*---------------------row-2------------------------*/

.col1a
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
}
.col2a
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
}
.col3a
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
}
.col4a
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
}
.col5a
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
}
.col6a
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
}
.col7a
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
}
/* .col8a
{
    height: 90px;
    width: 100px;
    background-color: white;
    float: left;
}
.col9a
{
    height: 90px;
    width: 100px;
    background-color: black;
    float: left;
} */