.div1 {
    width: 300px;
    height: 300px;
    background-color: coral;
    margin: auto;
    margin-top: 100px;
    transition-duration: 2s;
    transition-delay: 0.2s;
    transition-property: background-color, border-radius, transform;
    transition-timing-function: cubic-bezier(0.52,-0.29, 0, 2.94);
}

.div1:hover {
    background-color: brown;
    border-radius: 50%;
    transform: rotate(360deg);
    transform: scale(1.5);
}



ul{
    list-style-type: none;
    display: flex;
    background-color: rgb(158, 13, 220);
    color: white;
}

li{
    padding: 10px 15px;
    cursor: pointer;
    transition: 1s;
    transition-timing-function: ease-out;
}

li:hover{
    background-color: rgb(126, 21, 171);
    transform: translateY(-10px);
}